body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

body {
    background-color: darkslategrey;
}

#main {
    margin-top: 10px;
}

#hello {
    color: black;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#time {
    color: black;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
