body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #15091b;
}

@keyframes fadeInOut {
  0% { opacity: 1; }          /* start fully visible */
  30% { opacity: 0.3; }       /* fade out to translucent */
  40% { opacity: 0.3; }       /* pause at translucent */
  70% { opacity: 1; }         /* fade back in to fully visible */
  100% { opacity: 1; }        /* pause at full opacity */
}

#main {
  margin-top: 50px;
}

#greeting, #brb, #thank-you, #starting-soon, #oops {
  color: #ffb700;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 15px 10px;
  font-family: "Oxanium";
}

#oops {
  animation: fadeInOut 15s infinite;
  animation-delay: 10s;
}

#time {
  color: #ffefd5;
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: "Oxanium";
}
